back/lib/Static/Commons/extract_v01/extract_about_zones_v01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ZON1="http://rosreestr.ru/services/egrn/1.0.1/extract/extract-about-zones" xmlns:res1="http://rosreestr.ru/services/egrn/1.0.1/extract/common/resolution-requisites" xmlns:ds1="http://rosreestr.ru/services/egrn/1.0.1/extract/common/details-statement" xmlns:to1="http://rosreestr.ru/services/egrn/1.0.1/extract/common/types-object" xmlns:dict1="http://rosreestr.ru/services/commons/extract/1.0.1/dict" xmlns:sim1="http://rosreestr.ru/services/commons/extract/1.0.1/simple-types" targetNamespace="http://rosreestr.ru/services/egrn/1.0.1/extract/extract-about-zones" elementFormDefault="qualified">
	<xsd:import namespace="http://rosreestr.ru/services/commons/extract/1.0.1/simple-types" schemaLocation="commonSimpleTypes.xsd"/>
	<xsd:import namespace="http://rosreestr.ru/services/commons/extract/1.0.1/dict" schemaLocation="tDict_v01.xsd"/>
	<xsd:import namespace="http://rosreestr.ru/services/egrn/1.0.1/extract/common/details-statement" schemaLocation="tDetailsStatement_v01.xsd"/>
	<xsd:import namespace="http://rosreestr.ru/services/egrn/1.0.1/extract/common/types-object" schemaLocation="tCommonTypesObjects_v01.xsd"/>
	<xsd:import namespace="http://rosreestr.ru/services/egrn/1.0.1/extract/common/resolution-requisites" schemaLocation="tResolutionRequisites_v01.xsd"/>
	<xsd:element name="extract_about_zone" type="ZON1:ExtractAboutZones">
		<xsd:annotation>
			<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/159/items">Выписка о зоне с особыми условиями использования территорий, территориальной зоне, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития в Российской Федерации, игорной зоне, лесничестве, лесопарке, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ExtractAboutZones">
		<xsd:annotation>
			<xsd:documentation>Выписка о зоне с особыми условиями использования территорий, территориальной зоне, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития в Российской Федерации, игорной зоне, лесничестве, лесопарке, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="details_statement" type="ds1:DetailsStatement">
				<xsd:annotation>
					<xsd:documentation>Реквизиты выписки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="details_request" type="ds1:DetailsRequest">
				<xsd:annotation>
					<xsd:documentation>Реквизиты поступившего запроса</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="zone_territory_coastline_surveying" type="ZON1:ZoneTerritoryCoastlineSurveying">
				<xsd:annotation>
					<xsd:documentation>Сведения о зоне, территории, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="guid" type="sim1:sGUID">
			<xsd:annotation>
				<xsd:documentation>Глобальный уникальный идентификатор документа</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ZoneTerritoryCoastlineSurveying">
		<xsd:annotation>
			<xsd:documentation>Сведения о зоне, территории, береговой линии (границе водного объекта), проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="zones_and_territories" type="ZON1:ZonesAndTerritory">
				<xsd:annotation>
					<xsd:documentation>Сведения о зоне с особыми условиями использования территорий, территориальной зоне, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития, игорной зоне, лесничестве, лесопарке, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="coastline" type="ZON1:Coastline">
				<xsd:annotation>
					<xsd:documentation>Сведения о береговой линии (границе водного объекта)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="surveying_project" type="ZON1:SurveyingProject">
				<xsd:annotation>
					<xsd:documentation>Сведения о проекте межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="ZonesAndTerritory">
		<xsd:annotation>
			<xsd:documentation>Сведения о зоне с особыми условиями использования территорий, территориальной зоне, территории объекта культурного наследия, территории опережающего социально-экономического развития, зоне территориального развития, игорной зоне, лесничестве, лесопарке, особо охраняемой природной территории, особой экономической зоне, охотничьем угодье</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reg_numb_border">
				<xsd:annotation>
					<xsd:documentation>Реестровый номер границы</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="type_boundary" type="dict1:Dict">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/120/items">Вид объекта реестра границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="to1:RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="object" type="ZON1:ObjectZonesAndTerritories">
				<xsd:annotation>
					<xsd:documentation>Индивидуальное обозначение</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decisions_requisites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты документов (решения, соглашения)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="decision_requisites" type="res1:ResolutionRequisites" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Реквизиты документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="content_restrict_encumbrances" type="sim1:MultiLiner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сведения о содержании ограничений использования объектов недвижимости в пределах зоны с особыми условиями использования территорий, территориальной зоны, особо охраняемой природной территории, территории объектов культурного наследия</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="permitted_uses" type="to1:ZonePermittedUses" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Виды разрешенного использования земельных участков, расположенных в территориальной зоне</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="map_plan_information" type="to1:InformationFund" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Сведения о карте (плане) объекта землеустройства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="contours_location" type="to1:BoundContoursLocationOut">
				<xsd:annotation>
					<xsd:documentation>Описание местоположения границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="included_parcels" type="to1:IncludedParcels" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Перечень земельных участков, полностью или частично расположенных в границах зоны или территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Coastline">
		<xsd:annotation>
			<xsd:documentation>Сведения о береговой линии (границе водного объекта)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="reg_numb_border">
				<xsd:annotation>
					<xsd:documentation>Реестровый номер границы</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50"/>
						<xsd:minLength value="1"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="type_boundary" type="dict1:Dict">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/120/items">Вид объекта реестра границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="to1:RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decisions_requisites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты документов (решения, соглашения)</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="decision_requisites" type="res1:ResolutionRequisites" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Реквизиты документа</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="contours_location" type="to1:BoundContoursLocationOut">
				<xsd:annotation>
					<xsd:documentation>Описание местоположения границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SurveyingProject">
		<xsd:annotation>
			<xsd:documentation>Сведения о проекте межевания территории</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="survey_project_num" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Учетный номер проекта межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type_boundary" type="dict1:Dict">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/120/items">Вид объекта реестра границ</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="old_account_number" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Ранее присвоенный учетный номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="record_info" type="to1:RecordInfoAllDates">
				<xsd:annotation>
					<xsd:documentation>Дата внесения (даты изменения, дата исключения) сведений</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="decision_requisites" type="res1:ResolutionRequisites" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Реквизиты решения об утверждении проекта межевания территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="forming_parcels" type="to1:FormingParcelsNumberContours">
				<xsd:annotation>
					<xsd:documentation>Образуемые земельные участки</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObjectZonesAndTerritories">
		<xsd:annotation>
			<xsd:documentation>Общие сведения о зоне или территории</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="description" type="sim1:MultiLiner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование объекта землеустройства</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="name_by_doc" type="sim1:MultiLiner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Вид или наименование зоны (территории) по документу</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="type_zone" type="dict1:Dict" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation source="http://esunsi.at-consulting.ru/catalogs/61/items">Тип зоны (территории)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Номер</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="index" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Индекс</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="authority_decision" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Наименование органа государственной власти или органа местного самоуправления, принявшего решение об установлении зоны, о создании территории</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="other" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Иные идентифицирующие сведения</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
